$accent-color: crimson;
$brick-shadow: 0 0 4px #444;

body {
  font-family: 'Heebo', sans-serif;
  padding: 1.4cm 0 0.2cm;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../assets/background.jpg');
} a {
  color: inherit;
  text-decoration: none;
} h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 900;
} h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
} h3 {
  height: 1em;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
} h4 {
  text-transform: uppercase;
  font-size: 1rem !important;
  font-weight: 300;
} .accent-color {
  color: $accent-color;
} b {
  color: $accent-color;
  font-weight: bold;
} .grey {
  color: grey;
} .cursor-inactive {
  cursor: not-allowed;
} .smaller {
  line-height: .9em;
  font-size: .8em;
} .show-on-hover {
  display: none;
} .pie-wrapper:hover .show-on-hover {
  display: block;
}

/* The grid */
.column {
  float: left;
  box-sizing: border-box;
  padding: 0.3cm;
  background-color: #eee;
  // border: 1px solid #ddd;
} .column-wide {
  width: 7.15cm;
} .column-lean {
  width: 6.7cm;
} .column-double {
  width: 13.85cm;
}
.row > div {
  float: left;
} .row-long  > div {
  height: 11.6cm;
} .row-brick  > div {
  height: 6.7cm;
} .row-footer > div {
  height: 4.7cm;
}
/* End the grid */

/* General sheet of paper styles */
#sheet-of-paper {
  background-color: white;
  margin: 0 auto;
  width: 21cm;
  height: 29.7cm;
  box-shadow: 0 0 16px #666;
  overflow: hidden;
}
/* End general sheet of paper styles */

/* Each specific cell styling */
#my-photo,
#work,
#education,
#languages {
  position: relative;
  box-shadow: $brick-shadow;
} #work,
  #education,
  #languages {
  color: white;
  background-color: $accent-color;
  .career {
    border-color: white;
  }
} #hello {
  padding-top: 1.5cm;
  header {
    width: 100%;
    height: 5.45cm;
    .hello {
      color: #222;
      font-size: 1.25em;
      font-weight: 300;
      text-transform: uppercase;
    }
  } aside {
    font-weight: 300;
    text-align: justify;
  }
} #contact-and-skills {
  .career {
    margin-top: .8cm;
    margin-left: 0;
    p {
      margin: 0;
      padding: 0;
    } .title {
      padding-top: .5em;
      line-height: 1em;
      color: $accent-color;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: bold;
      opacity: .5;
    } .role {
      font-size: .86em;
    }
  } .skills {
    font-weight: 900;
    text-transform: uppercase;
  }
} #my-photo {
  z-index: 1;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
} #work {
  .date {
    left: -1.25cm;
  } .career {
    margin-top: 1cm;
  }
} #github {
  img {
    display: block;
    margin: 0 auto;
  } h3 {
    text-align: center;
  }
} #languages {
  .languages-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 80%;
    h4 {
      text-align: center;
    }
  }
} #other-projects {
  display: flex;
  align-items: center;
  .career {
    margin: 0;
  }
} #ror {
  .career {
    margin-top: .75cm;
  }
}
/* End each specific cell styling */

/* Career block */
.career {
  position: relative;
  padding-left: .5cm;
  margin: 1.2cm .5cm 1cm .8cm;
  border-left: 1px solid black;
  min-height: 2.5cm;
  .title {
    font-weight: 900;
  } .role {
    opacity: .5;
    font-weight: 900;
  } .description {
    padding-top: .5em;
    font-weight: 300;
    font-size: .86em;
  } .date {
    position: absolute;
    top: 1.05cm; left: -1.5cm;
    transform: rotate(-90deg);
    opacity: .5;
    font-size: .9em;
    font-weight: 900;
  }
}
/* End career block */

/* UBS block */
#work.ubs .date {
  top: 1.38cm; left: -2.1cm;
} #work.no-left-shadow {
  box-shadow: 2px 0 2px #444;
}
/* End UBS block */
